# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.classpath
*.project

A03/T01/all.log

#folders
.settings/
A03/T01/RESULTS/image.jpg
A03/T01/RESULTS/html.html
A03/T01/RESULTS/text.txt
A03/T01/RESULTS/notRecognizableFormat
/A13/Task1/nbproject/private/
/A13/Task1/build/